<launch>
    <include file="$(find scl_passthrough)/launch/serial_passthrough.launch" />

    <node name="depth" pkg="eimo_msgs" type="depth_ms5837.py">
        <param name="depth_frequency" type='int' value="1"/>
        <param name="~density" type='int' value="897"/>
    </node>

    <node name="angle" pkg="eimo_msgs" type="witsensor.py">
        <param name="angle_frequency" type='int' value="10"/>
    </node>

    <node name="pca" pkg="pca9685" type="propelling.py">
        <param name="angle_gains" value="{"p": 1, "i": 0.05, "d": 0.2}"/>
    </node>

    <node name="dive" pkg="scl_passthrough" type="diving.py" output="screen">
        <param name="~init_setpoint_depth" type='int' value="400"/>
        <param name="~weight_compensate" type='int' value="10000"/>
        <param name="depth_gains" value="{"p": 200, "i": 0, "d": 50}"/>
    </node>
</launch>