<launch>
    <node name="mouse" pkg="eimo_msgs" type="mouse_multi.py">
        <env name="ROS_IP" value="192.168.31.236"/>
        <env name="ROS_MASTER_URI" value="http://192.168.31.16:11311/"/>
        <param name="frequency" type='int' value="3"/>
    </node>

    <machine name="YJ-robot" address="192.168.31.16" env-loader="/home/ubuntu/eimo.sh" user="ubuntu" timeout="100" default="true"/>
    <include file="$(find eimo_msgs)/launch/eimo.launch"/>
</launch>